:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.img {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.img:hover {
  transform: scale(1.08); /* escala ao passar o mouse */
}

.img:active {
  transform: scale(0.5);
}


.modal-content {
  background-color: rgba(0, 0, 0, 0.9);
}

.btn-close {
  background-color: white;
}

.Toastify__toast--info {
  background-color: black;
  color: white;
}

.Toastify__toast--info button{
  background-color: gray;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#app-download-links {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    display: none;
  }

  header {
    display: none;
  }

  #app-download-links {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  #app-download-links a {
    display: inline-block;
    margin: 0 10px;
  }

  img {
    width: 250px;
  }
}
